header {
	background-color: #4aaaa5;
	color: white;
}

body {
    /*background-image: url("../assets/images/vintage-concrete.png");*/
    background-color: tan;
}

h2,
h3 {
	color: #4aaaa5;
}

button {
	background-color: #4aaaa5;
}

footer {
	 background-color: #777;
}